# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/
dist/
build/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Pytest
.cache

# Coverage reports
.coverage
*.cover
*.py,cover

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pylint
pylint-report.txt
pylint-global.txt

# IDE specific files
.idea/
*.sublime-project
*.sublime-workspace

# Environment variables
.env
